@font-face {
    font-family: aurebesh-af;
    src: url(../fonts/aurebesh-af/AurebeshAfCanon-K7Ope.otf);   
}
@font-face {
    font-family: starjedi;
    src: url(/fonts/starjedi/stjedise/STJEDISE.TTF);
}
