@font-face {
    font-family: aurebesh-af;
    src: url(../fonts/aurebesh-af/AurebeshAfCanon-K7Ope.otf);   
}
@font-face {
    font-family: starjedi-special;
    src: url(../fonts/starjedi-special/StarJedi-DGRW.ttf);
}