header{
   width: 100%;
   height: 20%;
   justify-content: space-around;
   align-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   position: fixed;
}

#menubar{
    width: 100%;
    height: 98%;   
    display: flex;
    justify-content: space-around;
}

.leftsection{
    width: 30%;
    height: 100%;
    background-color:aqua;
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
    
}



/* MID SECTION DESIGN */
.middlesection{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

/* DROPDOWN LINKS */
.dropdown {
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mainbtn{
    background-color: transparent;
    border: none;
}

.mainbtn img{
    width: 42%;
    height: 42%;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    margin-top:390px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a:hover {
    width: 100%;
}

.middlesection a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;   
    padding: 2% 0% 2% 0%; 
    text-decoration: none;
    font-family: starjedi-special;
}

.link{
    margin: 10% 0% 10% 0%;
    font-family: starjedi-special;
}
  
.dropdown-content:hover a{
    display: block;
} 

.dropdown:hover .dropdown-content {
    display: block;
} 

/* MID SECTION END */

.rightsection{
    width: 30%;
    height: 100%;
    display: flex;
    background-color: blueviolet;
    margin-left: 10%;
}